@import "tailwindcss";

body {
  @apply m-0;
  font-family: "Figtree", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.explore{
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.explore:hover{
  background-color:rgba(255, 255, 255, 0.25) ;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: all 0.5s ease;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 6s ease infinite;
}

 .st0{fill:#C4C4C4;} 
 .st1{fill:#E5B97F;}
  .st2{fill:#C19A6B;}
   .st3{fill:#FFFFFF;} 